*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fefdf9;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #d8f3dc; }
::-webkit-scrollbar-thumb { background: #74c69d; border-radius: 10px; }
